/*----------Global----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f3f3f6;
}

input,
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
}

input:focus,
button:focus {
  outline: 0;
}
.app-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*----------Header----------*/

header {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.logo {
  height: 2.4rem;
  margin-right: 0.5rem;
}

.app-title {
  font-weight: 700;
  font-size: 3rem;
}

.app-title-line {
  height: 0.4rem;
  margin: 0 0.5rem 0 0.5rem;
  background: #000000;
  flex: 1;
}

/*----------Main----------*/

main {
  padding-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.dashboard {
  position: relative;
  flex: 0 1 calc(50% - 0.6rem);
  background: #ffffff;
  border-radius: 8px;
  padding: 1.4rem 1.4rem 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard:nth-child(2n + 1) {
  margin: 0.6rem 0.6rem 0.6rem 0;
}

.dashboard:nth-child(2n) {
  margin: 0.6rem 0 0.6rem 0.6rem;
}

.dashboard-title-wrapper,
.add-task-wrapper {
  position: relative;
  width: 90%;
}

.underline {
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 1.2rem;
  border-radius: 50px;
  background: #838383;
  transition: 0.3s ease-out;
}

.dashboard-title:focus + .underline,
.add-task:focus + .underline {
  width: 100%;
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 100%;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 6px;
  border: 2px solid #838383;
}

.task.selected > .checkbox {
  border: 2px solid #000000;
  background: #000000;
}

.task.selected > .checkbox::after {
  position: absolute;
  content: "\2714";
  color: #ffffff;
  top: 0;
}

.task,
.add-task {
  font-size: 1.2rem;
  font-weight: 400;
  color: #838383;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2rem;
  margin: 0.9rem 0.8rem 0 0;
}

.dashboard-title,
.task,
.add-task {
  cursor: pointer;
  margin-bottom: 1.4rem;
}

.trash {
  cursor: pointer;
}

/*----------Sidebar----------*/

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 35%;
  height: 100vh;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 1;
  transform: translate(100%);
  transition: 0.5s;
}

.sidebar.active {
  transform: translate(0%);
}

.close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.close-btn {
  position: relative;
  border: 0;
  font: inherit;
  cursor: pointer;
  width: 2.6rem;
  height: 2.6rem;
  background: #ffffff;
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  border-radius: 50px;
  background: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}

.close-btn::after {
  transform: rotate(45deg);
}

.new-dashboard-wrapper {
  overflow: auto;
  padding: 0 1.4rem;
  margin-bottom: 5rem;
}

.new-dashboard-wrapper > .dashboard-title {
  width: 100%;
  text-transform: none;
  margin-bottom: 1rem;
}

.new-dashboard-wrapper > .add-task {
  width: 100%;
}

.add-btn {
  border: 0;
  font: inherit;
  cursor: pointer;
  height: 4rem;
  bottom: 0;
  width: 100%;
  position: absolute;
  color: #ffffff;
  font-size: 1.2rem;
  background: #000000;
}

/*----------Floating button----------*/

.floating-btn-wrapper {
  position: absolute;
  width: 3.8rem;
  height: 3.8rem;
  bottom: 3rem;
  right: 15px;
}

.floating-btn {
  position: fixed;
  border: 0;
  font: inherit;
  cursor: pointer;
  bottom: 3rem;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50px;
  background: #000000;
}

.floating-btn::before,
.floating-btn::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  border-radius: 50px;
  background: #f3f3f6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.floating-btn::after {
  width: 2px;
  height: 2rem;
}

/*----------Media queries----------*/

@media (max-width: 1200px) {
  .sidebar {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .dashboard {
    flex: 1 1 100%;
  }

  .dashboard:nth-child(2n + 1) {
    margin: 0 0 1rem 0;
  }

  .dashboard:nth-child(2n) {
    margin: 0 0 1rem 0;
  }

  .floating-btn-wrapper {
    bottom: 15px;
  }

  .floating-btn {
    bottom: 15px;
  }

  .sidebar {
    width: 75%;
  }
}

@media (max-width: 440px) {
  .sidebar {
    width: 100%;
  }
}
