/*----------Global----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f3f3f6;
}

input,
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
}

input:focus,
button:focus {
  outline: 0;
}
.app-container {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

.overlay {
  background: #3d3d3d;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.overlay.active {
  opacity: 0.3;
  visibility: visible;
}

/*----------Header----------*/

header {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.logo {
  height: 2.4rem;
  margin-right: 0.5rem;
}

.app-title {
  font-weight: 700;
  font-size: 3rem;
}

.app-title-line {
  height: 0.4rem;
  margin: 0 0.5rem 0 0.5rem;
  background: #000000;
  flex: 1;
}

/*----------Main----------*/

main {
  padding-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.dashboard {
  position: relative;
  flex: 0 1 calc(50% - 0.6rem);
  background: #ffffff;
  border-radius: 8px;
  padding: 1.4rem 1.4rem 0.6rem;
  display: flex;
  flex-direction: column;
}

.dashboard:nth-child(2n + 1) {
  margin: 0.6rem 0.6rem 0.6rem 0;
}

.dashboard:nth-child(2n) {
  margin: 0.6rem 0 0.6rem 0.6rem;
}

.title-wrapper,
.task-wrapper,
.add-task-wrapper {
  position: relative;
  width: 95%;
  margin-bottom: 1.2rem;
}

.title-wrapper::after,
.task-wrapper::after,
.add-task-wrapper::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -0.25rem;
  border-radius: 50px;
  background: #838383;
  transition: 0.3s ease-out;
}

.title-wrapper.active::after,
.task-wrapper.active::after,
.add-task-wrapper.active::after {
  width: 100%;
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 100%;
}

.task-wrapper {
  display: flex;
  align-items: center;
}

.task-wrapper::after {
  left: 1.6rem;
}

.task-wrapper.active::after {
  width: calc(100% - 1.6rem);
}

.checkbox {
  position: relative;
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 6px;
  border: 2px solid #838383;
}

.checkbox.selected {
  border: 2px solid #000000;
  background: #000000;
}

.checkbox.selected::after {
  position: absolute;
  content: "\2714";
  color: #ffffff;
  top: 0;
}

.task,
.add-task {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #838383;
  text-overflow: ellipsis;
}

.task {
  width: 90%;
}

.dashboard-title:disabled,
.task:disabled {
  text-decoration: line-through;
}

.trash,
.dashboard-title,
.checkbox,
.task,
.add-task {
  cursor: pointer;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2rem;
  margin: 0.9rem 0.8rem 0 0;
}

.task-wrapper > .trash {
  display: none;
  height: 1rem;
  margin: auto;
  bottom: 0;
}

.task-wrapper:hover > .trash {
  display: block;
}

/*----------Sidebar----------*/

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 35%;
  height: 100vh;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 1;
  transform: translate(100%);
  transition: 0.5s;
}

.sidebar.active {
  transform: translate(0%);
}

.close-btn {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  margin: 1.8rem;
  align-self: flex-end;
  background: #ffffff;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  border-radius: 50px;
  background: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}

.close-btn::after {
  transform: rotate(45deg);
}

.sidebar > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-content {
  padding: 0 1.4rem 1.4rem 1.4rem;
  flex: 1;
  overflow: auto;
}

.form-content > input {
  margin-bottom: 1rem;
}

.form-content > .dashboard-title {
  text-transform: none;
}

.add-btn {
  padding: 1.2rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  background: #000000;
  cursor: pointer;
}

.add-btn:disabled {
  background: #838383;
}

/*----------Floating button----------*/

.floating-btn-wrapper {
  position: absolute;
  width: 3.8rem;
  height: 3.8rem;
  bottom: 3rem;
  right: 15px;
}

.floating-btn {
  position: fixed;
  cursor: pointer;
  width: 3.8rem;
  height: 3.8rem;
  bottom: 3rem;
  border-radius: 50px;
  background: #000000;
}

.floating-btn::before,
.floating-btn::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  border-radius: 50px;
  background: #f3f3f6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.floating-btn::after {
  width: 2px;
  height: 2rem;
}

/*----------Media queries----------*/

@media (max-width: 1200px) {
  .sidebar {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .dashboard {
    flex: 1 1 100%;
  }

  .dashboard:nth-child(2n + 1) {
    margin: 0 0 1rem 0;
  }

  .dashboard:nth-child(2n) {
    margin: 0 0 1rem 0;
  }

  .floating-btn-wrapper {
    bottom: 15px;
  }

  .floating-btn {
    bottom: 15px;
  }

  .sidebar {
    width: 75%;
  }
}

@media (max-width: 440px) {
  .sidebar {
    width: 100%;
  }
}
